{% extends 'Navbar.html' %}
{% load static %}
<html lang="en">
{% block body %}
<div class="container">
  <div class="row">
    <div  align="center" class="col">
<br><br>
      <h1>Welcome to Kavya's Travel Tourism and Management</h1>
        <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Select Any Country
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Asia/Kolkata</a></li>
    <li><a class="dropdown-item" href="#">Asia/Oral</a></li>
    <li><a class="dropdown-item" href="#">Australia/Victoria</a></li>
  </ul>
</div><br>
      <br><br>

<button type="button" class="btn btn-primary btn-lg">Submit</button><br><br><br>
    </div>
      <div  align="center" class="col">
        <h1>Top Vacation Destinations</h1>
          <br><br>
            {{result}}

      </div>
  </div>
</div>
</div>

<br><br><br>
<center>


    </div>
  </div>
</div>
    </center>
<br><br><br><br><br><br>
{% endblock %}
</html>