{% extends 'Navbar.html' %}
{% load static %}
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block body %}
<div>
    <div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/goa3.avif' %}" class="d-block w-100 h-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/kerala3.avif' %}" class="d-block w-100 h-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/himachal2.avif' %}" class="d-block w-100 h-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/kashmir3.avif' %}" class="d-block w-100 h-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

</div>


</body>
{% endblock %}
</html>